@model MVCLabb.Models.IndexPhotoViewModel

<div class="col-xs-12 col-sm-6 col-md-4 masonaryitem">
    <a href="@string.Format($"/Photo/Details/{Model.Id}")" class="thumbnail">
        <img src="@Model.Path" alt="@Model.Name">
    </a>

</div>
