@model IEnumerable<MVCLabb.Models.IndexPhotoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>The Gallery</h2>

<div id="masonarycontainer" class="row">

    @foreach (var item in Model)
            {
        @Html.Partial("_Thumbnails", item)
    }

</div>

@section Css {
    <link href="~/Content/GalleryStyle.css" rel="stylesheet" />
}


@section Scripts {

    <script src="~/Scripts/MasonaryJavaScript.js"></script>

}
