@model IEnumerable<MVCLabb.Models.IndexPhotoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>The Gallery</h2>
<div class="row">
    <div class="col-xs-12">
        @foreach (var item in PhotoHelper.GetListOfAlbumsFromListOfPhotos(Model))
        {
            <button type="button" class="btn btn-default">@item</button>
        }
    </div>
</div>
<div id="masonarycontainer" class="row">

    @foreach (var item in Model)
            {
        @Html.Partial("_Thumbnails", item)
    }

</div>

@section Css {
    <link href="~/Content/GalleryStyle.css" rel="stylesheet" />
}


@section Scripts {

    <script src="~/Scripts/MasonaryJavaScript.js"></script>

}
